<div class="row">
    {{#each blogs}}
    <pre>{{blogs}}</pre>
    <div class="card bg-primary">
        <div class="card-header">
            <h3>{{title_blog}}</h3>
        </div>
        <div class="card-body">
            <img src="{{img_blog}}" alt="imagen">
            <p class="text-white">{{content_blog}}</p>
        </div>
        <div class="card-footer">
            <form action="/blog/delete/{{_id}}" method="POST">
                <button class="btn btn-danger btn-block btn-sm">DELETE</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>